/Library//Assembly-CSharp.pidb/Assembly-CSharp-vs.csproj/Assembly-CSharp-vs.csproj.user/picoBattle.userprefs/picoBattle-csharp.5.1.ReSharper.user/picoBattle-csharp.sln/picoBattle-csharp.suo/_ReSharper.picoBattle-csharp/obj//Assembly-CSharp.csproj/bin//Temp/